#==============SEURAAVAT 2 RIVIÄ VOI EDITOIDA/U PROPABLY NEED TO CHANGE NEXT 2 ROWS AFTER RUNNING kutl.bash =============================
CONF_pubk=abcdabcd
CONF_ksk=deadbeefdeadbeef
#==============ALLAOLEVIA 6 RIVIÄ TUSKIN TARVITSEE MUUTTAA/U PROPABLY DON'T NEED TO CHANGE NEXT 6 ROWS AFTER THIS LINE===================
CONF_karray="${CONF_pubk} ${CONF_ksk}"
#
#hyvä näin vai vieläkös orkitaan?
TARGET_Dpubkf=${TARGET_DIGESTS_dir}/${CONF_pubk}.gpg
TARGET_Dpubkg=${TARGET_DIGESTS_dir}/${CONF_ksk}.gpg
#========================================================================================================================================
#SHOULD COMMENT OUT THE OUTPUT OF gpg --list-keys THOUGH
