[Desktop Entry]
Version=1.0
Type=Application
Name=do_it6
Comment=
Exec=/home/devuan/Desktop/minimize/doIt6.sh -v
Icon=
Path=
Terminal=true
StartupNotify=false
